<div class="container">
	<div class="wrap">
		<div class="profile-box">
			<div class="img">
				<%= image_tag "avatar.png", width: "100%", height: "120%" %>
			</div>	
			<div class="user-name pull-left"><a href=""><b>Name</b>, 27</a></div>	
			<div class="user-location text-right"><i class="fa fa-map-marker"></i> Providencia </div>
			<div class="description">
				<h4 class="text-uppercase"><small>Descripcion, Referencias, CV</small></h4>
				<p class="small">
					Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id. Quo mundi lobortis reformidans eu, legimus senserit definiebas an eos. Eu sit tincidunt incorrupte definitionem, vis mutat affert percipit cu, eirmod consectetuer signiferumque eu per. In usu latine equidem dolores. Quo no falli viris intellegam, ut fugit veritus placerat per
				</p>
			</div>
		</div>
	</div>
</div>